.container-empresasLista{
    background-color: rgb(143, 139, 139);
    padding: 10px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    max-width: 450px;
    margin: 10px auto;
    word-break: break-all;   
}

.button-delete{
    display:flex;
    justify-content: flex-end;
}

.btn-delete{
    width: 20px;
    height: 20px;
}

.subtitulo{
    border-bottom: inset;
    padding-bottom: 3px; 
    color: white;
    
}

.sub{
    margin: 5px;
}

