.navbar {
    background-color: #C0C0C0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
}

.btn-hamburguer {
    position: fixed;
    color: black;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;

}

.btn-home {
    position: fixed;
    color:black;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
}

.btn-cadastro-abrir {
    position: fixed;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    margin-left: 100px;
    cursor: pointer;
    color: black;
}

.btn-close {
    position: fixed;
    color: black;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-cadastro-fechar {
    position: fixed;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    margin-left: 100px;
    cursor: pointer;
    color: black;
}