.navbar {
    background-color: #C0C0C0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
}

.btn-home {
    position: fixed;
    color: black;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
}

.btn-cadastro-abrir {
    position: fixed;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    margin-left: 100px;
    cursor: pointer;
    color: black;
}

.btn-cadastro-fechar {
    position: fixed;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    margin-left: 100px;
    cursor: pointer;
    color: black;
}

.btn-hamburguer {
    position: fixed;
    color: black;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;

}

.btn-close {
    position: fixed;
    color: black;
    width: 60px;
    height: 35px;
    margin-top: 10px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: -350px;
    width: 350px;
    height: 86.3%;
    background-color:#cbd9eb;
    transition: left 0.2s;
    z-index: 1;
    overflow-y: auto;
}

.sidebar.active {
    left: 0;
    
}