footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #C0C0C0;
    color: #fff;
    padding: 8px;
    text-align: center;
    font-size: 6px;
    color: black;
}